APP_WEB_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@db:5432/aubill

JWT_ACCESS_SECRET=access.secret.key
# 10 minutes
JWT_ACCESS_TOKEN_TTL_MS=600000
JWT_REFRESH_SECRET=refresh.secret.key
# 30 days
JWT_REFRESH_TOKEN_TTL_MS=2592000000

# For docker-compose
POSTGRES_DB=aubill
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres